.idea/.name
.idea/misc.xml
.idea/modules.xml
app/app.iml
.gitignore.swp
AndroidStudy.iml
.gradle
/BpweiStudy.iml
/build.gradle
/gradle.properties
/gradlew
/gradlew.bat
/settings.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
